<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" [routerLink]="['/home']">{{title}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/patients']">Patients</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/doctors']">Doctors</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/appointments']">Appointments</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text">Hello, {{user.firstName}}</span>
    <button class="btn btn-outline-danger btn-sm" type="submit" (click)="logOut()">Log Out</button>
</nav>

<router-outlet></router-outlet>

<ze-footer></ze-footer>