<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">{{title}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<router-outlet></router-outlet>

<ze-footer></ze-footer>