<div class="card-deck">
    <div class="card" (click)="goToPatients()">
        <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <p class="card-text">Enter this module to manage the patients (plain CSS).</p>
        </div>
    </div>
    <div class="card" (click)="goToDoctors()">
        <div class="card-body">
            <h5 class="card-title">Doctors</h5>
            <p class="card-text">Enter this module to manage the patients (with <a
                    href="https://material.angular.io/">Angular Material</a>).</p>
        </div>
    </div>
    <div class="card" (click)="goToAppointments()">
        <div class="card-body">
            <h5 class="card-title">Appointments</h5>
            <p class="card-text">Enter this module to manage the patients (with <a
                    href="https://getbootstrap.com/">Bootstrap</a>).</p>
        </div>
    </div>
</div>
<div class="charts">
    <ngx-charts-bar-vertical [results]="specialitiesCount" [view]="view" [scheme]="colorScheme" [legend]="true"
        [gradient]="false" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
        [xAxisLabel]="'xAxisLabel'" [yAxisLabel]="'yAxisLabel'" (window.resize)="onResize($event)">
    </ngx-charts-bar-vertical>
</div>