.card-deck {
	margin: 30vh 10vw;

	.card {
		padding: 3vh 1vw;
		text-align: center;
		cursor: pointer;

		.card-title {
			padding-bottom: 3vh;
		}
	}
}

.charts {
    float: left;
    margin-top: 5vh;
    margin-left: 4vw;
    padding: 2vh;
    width: 44vw;
    background-color: #ccc;
    box-shadow: 0px 0px 10px gray;
}