<table mat-table [dataSource]="doctors" class="mat-elevation-z8">
    <caption>List of doctors</caption>
    <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.name }}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
        <th scope="col" mat-header-cell *matHeaderCellDef>Telephone</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.phoneNumber | telephone }}</td>
    </ng-container>
    <ng-container matColumnDef="wage">
        <th scope="col" mat-header-cell *matHeaderCellDef>Wage</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.wage | currency:'EUR' }}</td>
    </ng-container>
    <ng-container matColumnDef="speciality">
        <th scope="col" mat-header-cell *matHeaderCellDef>Speciality</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.speciality | speciality }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th scope="col" mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let doctor">
            <em class="material-icons md-light" [routerLink]="['/doctors/', doctor.id]">edit</em>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th scope="col" mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let doctor">
            <em class="material-icons md-light" (click)="deleteDoctor(doctor.id)">delete_outline</em>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>