.login-form {
	width: 20vw;
	margin: auto;
	
	form {
		margin-top: 25vh;
		background: #f7f7f7;
		box-shadow: 0px 5px 1	5px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		padding: 5vh 2vw;
	}

	button {
		font-size: 15px;
		font-weight: bold;
	}
}

@media only screen and (orientation: portrait) {
	.login-form {
		width: 70vw;
	}
}

@media only screen and (max-width: 880px) {
	.login-form {
		width: 70vw;
	}
}