form {
    margin: auto;

    label {
        display: block;
        width:40vw;
        text-align: right;
        margin-left: 20vw;
        line-height: 5vh;
    }

    input, select, textarea {
        align-items: center;
        height: 5vh;
        width: 15vw;
        margin-left: 4vw;
        border: none;
    }

    .buttons {
        text-align: center;
        margin-top: 5vh;

        button,
        input[type="reset"] {
            height: 7vh;
            width: 8vw;
            margin: 0vh 1vw;
            background: blue;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
        }
        button[type="submit"] {
            background: darkgreen;
        }
        *:disabled {
            background: gray;
        }

        .validator {
            text-align: center;
            margin-top: -.5em;
            margin-bottom: .5em;
            color: red;
            font-size: small;
            font-weight: bold;
        }
    }
}

