<form [formGroup]="patientForm" *ngIf="patientForm" (ngSubmit)="savePatient(patientForm.value)">
    <label>Name
        <input type="text" formControlName="name" placeholder="Name">
    </label>
    <div class="validator" *ngIf="name.invalid && (name.dirty || name.touched)">
        <span *ngIf="name.errors.required">Name is required.</span>
        <span *ngIf="name.errors.minlength">Name must be at least 4 characters long.</span>
        <span *ngIf="name.errors.forbiddenName">Name cannot be Marco.</span>
    </div>
    <label>Gender
        <select formControlName="gender">
            <option *ngFor="let gen of Gender | keyvalue" value="{{gen.key}}">
                {{gen.value}}
            </option>
        </select>
    </label>

    <label>Birthdate
        <input type="date" formControlName="birthdate" placeholder="Birthdate">
    </label>

    <label>Telephone
        <input type="tel" formControlName="phoneNumber" placeholder="Telephone">
    </label>

    <label>Address
        <textarea id="address" formControlName="address" placeholder="Address"></textarea>
    </label>

    <label>Citizen card
        <input type="number" formControlName="citizenCard" placeholder="Citizen card">
    </label>

    <label>Fiscal number
        <input type="number" formControlName="fiscalNumber" placeholder="Fiscal number">
    </label>

    <label>Social security number
        <input type="number" formControlName="socialSecurityNumber" placeholder="Social security number">
    </label>

    <label>Insurance number
        <input type="text" formControlName="insuranceNumber" placeholder="Insurance number">
    </label>

    <div class="buttons">
        <input type="reset" value="Clear">
        <button type="submit" [disabled]='!patientForm.valid'>Create</button>
        <button type="button" routerLink="/patients">Cancel</button>
    </div>
</form>