table {
    margin: auto;

    td {
        border: 5px solid lightgray;
        padding: 1vh 0.5vw;
        background-color: black;
        color: white;

        img {
            cursor: pointer;
            height: 3vh;
        }
    }

    .center {
        text-align: center;
    }

    th {
        border: 5px solid lightgray;
        background-color: gray;
        color: white;
        text-align: left;
        padding: 2vh 0.5vw;
    }

    @media all and (max-width: 800px) {
        .collapsable {
            display: none;
            visibility: collapse;
            width: 0;
            height: 0;
        }
    }
}

button {
    float: right;
    margin-right: 20%;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}