<table>
    <caption>List of patients</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Telephone</th>
            <th class="collapsable" scope="col">Birthdate</th>
            <th class="collapsable" scope="col">Citizen Card</th>
            <th class="collapsable" scope="col">Fiscal Number</th>
            <th class="collapsable" scope="col">Social Security Number</th>
            <th class="collapsable" scope="col" *hasPermission="['RGPD']">Insurance Number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{ patient.name }}</td>
            <td>{{ patient.phoneNumber | telephone }}</td>
            <td class="collapsable">{{ patient.birthdate | date:'longDate' }}</td>
            <td class="collapsable">{{ patient.citizenCard }}</td>
            <td class="collapsable">{{ patient.fiscalNumber }}</td>
            <td class="collapsable">{{ patient.socialSecurityNumber }}</td>
            <td class="collapsable" *hasPermission="['RGPD']">{{ patient.insuranceNumber }}</td>
            <td class="center" [routerLink]="['/patients/', patient.id]"><img alt="edit"
                    src="https://img.icons8.com/android/24/ffffff/edit.png"></td>
            <td class="center" (click)="deletePatient(patient.id)"><img alt="delete"
                    src="https://img.icons8.com/android/24/ffffff/trash.png"></td>
        </tr>
    </tbody>
</table>

<button type="button" [routerLink]="['/patients/create']">
    Create patient
</button>